name: Renovate

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: renovatebot/github-action@v40.3.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}